.topbar .header-left .topnav .menutoggle {
  background: none;
  color: #2b2e33;
  cursor: pointer;
  float: left;
  font-size: 22px;
  height: 50px;
  position: relative;
  text-decoration: none !important;
  width: 50px;
}

.topbar .header-left .topnav .menu__handle {
  background: rgba(0, 0, 0, 0);
  border: none;
  height: 24px;
  left: 18px;
  outline: none;
  padding: 0;
  position: absolute;
  top: 11px;
  width: 20px;
  z-index: 2000;
}

.topbar .header-left .topnav .menu__handle::before {
  -moz-transform-origin: 50% 50%;
  -moz-transform: translate3d(0, -5px, 0);
  -webkit-transform-origin: 50% 50%;
  -webkit-transform: translate3d(0, -5px, 0);
  transform-origin: 50% 50%;
  transform: translate3d(0, -5px, 0);
  background: #2b2e33;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  -ms-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
}

::after, ::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.topbar .header-left .topnav .menu__handle span {
  height: 2px;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-indent: 200%;
  top: 12px;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  -ms-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
  width: 100%;
}

.menu__handle span {
  background: #2b2e33;
}

.topbar .header-left .topnav .menu__handle::after {
  -moz-transform-origin: 50% 50%;
  -moz-transform: translate3d(0, 5px, 0);
  -webkit-transform-origin: 50% 50%;
  -webkit-transform: translate3d(0, 5px, 0);
  background: #2b2e33;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  top: 50%;
  transform-origin: 50% 50%;
  transform: translate3d(0, 5px, 0);
  width: 100%;
  -webkit-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  -ms-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
}

.menu__handle {
  background: rgba(0, 0, 0, 0);
  border: none;
  height: 24px;
  left: 18px;
  outline: none;
  padding: 0;
  position: absolute;
  top: 11px;
  width: 20px;
  z-index: 2000;
}

.menu__handle::before {
  -moz-transform-origin: 50% 50%;
  -moz-transform: translate3d(0, -5px, 0);
  -webkit-transform-origin: 50% 50%;
  -webkit-transform: translate3d(0, -5px, 0);
  transform-origin: 50% 50%;
  transform: translate3d(0, -5px, 0);
  background: #2b2e33;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  -ms-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
}

.menu__handle::after {
  -moz-transform-origin: 50% 50%;
  -moz-transform: translate3d(0, 5px, 0);
  -webkit-transform-origin: 50% 50%;
  -webkit-transform: translate3d(0, 5px, 0);
  background: #2b2e33;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  top: 50%;
  transform-origin: 50% 50%;
  transform: translate3d(0, 5px, 0);
  width: 100%;
  -webkit-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  -ms-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
}
