.theme-sdtl.color-default .sidebar .sidebar-inner {
  background: #2b2e33;
}

.sidebar .sidebar-inner {
  background-color: #2b2e33;
  height: 100%;
  padding: 0;
  z-index: 2;
}

.mCustomScrollbar {
  -ms-touch-action: pinch-zoom;
  touch-action: pinch-zoom;
}
