body {
  height: 100%;
  background: #F5F5F5;
  color: #5B5B5B;
  font-family: 'Lato', 'Open Sans', Helvetica, sans-serif !important;
  line-height: 1.42857143;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 14px;
}

body > section {
  opacity: 1;
  height: 100%;
}
